* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/girl4.png"); /* mit dem ../ kommt man aus dem folder raus */
  background-repeat: no-repeat;
  background-color: hsl(256, 57%, 24%);
  padding-bottom: 80px;
}
